{
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "ignorePatterns": ["temp.js", "**/images/*"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  }
}