{
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,   
    "babelOptions": {
      "presets": ["@babel/preset-react"]
   }
  },
  "ignorePatterns": ["temp.js", "**/images/*"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "no-unused-vars": "off"
  }
}